@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300px;
    color: #3a3a3a
}

/* headings and logo */

.head {
    background-color: rgb(214, 152, 105)
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}



#logo {
    font-size: 280%;
    line-height: 75px;
    margin-left: 30px;
    text-decoration: none;

}

.nav-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 2rem;
    font-size: 150%;
    letter-spacing: 4px;
    text-align: center;
    
    
    
}

.nav-list li {
    list-style-type: none;
    margin-right: 30px;
    text-decoration: none;
    color: #3a3a3a;
    
    
    
}

.nav-list a:hover {
    border-bottom: 1px solid red;
    color: white;

}

.active {
    border-bottom: 1px solid red;
}

/* hero image */

#hero-image {
    padding-top: 300px;
    padding-bottom: 400px;
    width: 100%;
    background:url('../images/hero-image.jpg')
}

#welcome {
    text-align: center;
    font-size: 200%;
    background-color: rgb(214, 152, 105);
    padding-bottom: 30px;
    padding-top: 30px;
    color: #3a3a3a


}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: #3a3a3a
    
}

.about {
    background-color: black;
    background-image: url('../images/drink-image.jpg');
    padding-bottom: 300px;
    padding-top: 100px;
    text-align: center;
    font-size: 250%;
    
}

/* Find us section*/

#find {
    text-align: center;
    font-size: 100%;
    background-color: rgb(214, 152, 105);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}




/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 15px;
    margin-top: 10px;
    height: 100px;
    background-color: rgb(214, 152, 105);
    border-top: solid 4px;
    border-color: white;
}

.footer-text {
    display: inline;
    font-size: 150%;
    
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
    margin-right: 25px;
    align-items: center;
}


.social-networks i {
    font-size: 250%;
    margin: 2%;
    padding-right: 3%;
    color: #3a3a3a;

}


/* menu page */

#photos {
     display: inline-flex;
     width:100%
    padding: 4px;
    
}




/* menu page */

#menu-section {
    width:100%;
    min-height: 56.25rem;
}

#menu-title {
    letter-spacing: .25rem;
    padding: 2.5rem;
    background-color: rgb(214, 152, 105);
    text-align: center;
    font-size: 280%;
    color: white

}

.panel-menu {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 21.875rem;
    margin: 1.56rem auto;
    background-color: rgb(214, 152, 105);

}



