@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: #3a3a3a;
    background-color: rgb(214, 152, 105);
}

* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  .row {
    background-color: rgb(214, 152, 105);
  }
/* headings and logo */

.header {
    background-color: rgb(214, 152, 105)
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    
}


a.menu {
    text-decoration: none;
    color: black;
    
}
.menu-item{
    text-align: right;
    
 }

 #hero-image {
    width: 100%;
    background-image:url('../images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

#welcome{
    background-color: rgb(214, 152, 105);
    text-align: center;
    color: white;
}

#about {
    background-color: black;
    background-image: url('../images/drink-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    text-align: center;
}

#menu-title {
  text-align: center;
  height: 100px;
  color: white;
  font-size: 50px;
  
}

/* Contact us section*/

#contact {
  text-align: center;
  font-size: large;
  background-color: rgb(214, 152, 105);
  padding-top: 10px;
  padding-bottom: 10px;
}

#google-maps {
  text-align: center;
  
  font-size: 25px;

}

#about h1, #about h2, #welcome h1, #menu-title, #contact, #google-maps {
    color: white !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-image{
  width: 100%;
  position:relative;
}

/* form section */

fieldset {
  display: block;
  display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}

.contact_us_form {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 350px;
  border-style: double;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 120px;
}

#about-header {
  text-align: center;
  height: 100px;
  font-size: 50px;
  color: white;
}

.text-input {
  padding: 1.0em;
  border: 0.1rem solid gray;
  width: 100%;
  height: 20px;
  box-shadow: 0 0 10px 1px;
  border-radius: 10px;
}

.text-input:hover {

background-color: aquamarine;
}


#message {
  border: .2rem solid gray;
  margin-top: 2%;
  height: 70px;
  width: 100%;
  resize: none;
}

#message:hover {
  background-color: aquamarine;
}

.submit-button {
  background-color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  border: .1rem solid whitesmoke;
  color: whitesmoke;
  border-radius: 10px;
  height: 50px;
  font-size: medium;
  width: 30%;
  
}

.submit-button:hover {
  border: 5px solid maroon;
}

.submit-button:visited {
  border-color: pink;
}



/* back to top arrow located after menu section */

.back-to-top {
  text-align: center;
  margin-right: 10px;
  font-size: 160%;
  margin-top: 2%;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.75);
}

#about .overlay{
  height: 570px;
}
#about .overlay h1{
  padding-top: 90px;;
}

/* footer section */

.footer-head {
  text-align: center;
  text-shadow: 1px 1px 1px #3a3a3a;
  padding-bottom: 1px;
}

.footer-text {
  text-align: center;
}

.footer-icons {
  text-align: center;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    border: 1px solid;
}

@media screen and (min-width: 650px) {
.footer {
  display: block;
}

}
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    #about .overlay{
      height: 450px;
    }
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }